doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Tares
        link(rel="icon", type="image/png", href="/img/ico2.png")

        link(href='/css/main.css', rel='stylesheet')

        script(src="/js/jquery.js")
        script(src="/js/phaser.js")
        script(src="/js/socket.io.js")

        // TODO: copy bootstrap.min.css from node_modules
        link(rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css")
        script(src="/css/bootstrap/js/bootstrap.js")
    body
        .background_image
        // ===== Help Screen =====
        div(tabindex="-1" role="dialog")#helpModal.modal.fade
            div(role="document").modal-dialog.modal-lg
                .modal-content
                    .modal-header.modal-header-custom
                        button(type="button" data-dismiss="modal" aria-label="Close").close
                            span(aria-hidden="true") &times;
                        h2#myModalLabel.modal-title Tares : Aide
                    .modal-body
                        p Si c'est la première fois que vous jouez à Tares, prenez quelques instants pour découvrir le jeu (les autres ne commenceront pas la partie sans vous (c'est promis).
                        h3 But du jeu
                        p Le but est bien-sûr de gagner. Il y deux manières de le faire. Capturer le trident d'or permet de gagner des points et d'arriver éventuellement aux 100 points requis. Vous pouvez aussi tuer tous les autres joueurs...
                        p Vous gagnerez 5 points par seconde sous contrôle du trident d'or. Vous gagnerez 10 points par ennemis tués.
                        h3 Les bases
                        p Chaque joueur contrôle un personnage choisis à l'avance qui dispose d'un certain nombre de points de vie et d'énergie. Pour diriger son personnage, utilisez <code>Z</code>, <code>Q</code>, <code>S</code>, <code>D</code> (Avancer, Gauche, Reculer, Droite).
                        p Pour attaquer un joueur ou aider un allié, utilisez la souris et sélectionnez son personnage. Pour utiliser vos compétences, appuyer sur les icones de la barre de compétences ou utilisez les touches <code>1</code> à <code>4</code>.
                        p Pour capturer le trident d'or appuyer sur <code>E</code> (appuyer à nouveau pour le déposer).
                        h3 Les classes
                        .panel-group
                            .panel.panel-default
                                .panel-heading.panel-heading-warrior
                                    h4.panel-title
                                        a(data-toggle="collapse" href="#warrior_panel") Guerrier
                                #warrior_panel.panel-collapse.collapse
                                    .panel-body
                                        p Le Guerrier est fort et résistant, ses attaques font beaucoup de dégats mais sa portée est limitée. Idéal pour les joueurs qui préfèrent un style plus direct. Ses 4 compétences sont :
                                        .clearfix
                                            .column.menu
                                                p Charge audacieuse
                                                img(src="/img/skills_icons_for_help_screen/warrior1.png").help-skills
                                            .column.content
                                                br
                                                br
                                                p Le Guerrier charge l'ennemi, lui infligeant 60 points de dégâts.
                                        .clearfix
                                            .column.menu
                                                p Incassable
                                                img(src="/img/skills_icons_for_help_screen/warrior2.png").help-skills
                                            .column.content
                                                br
                                                br
                                                p Le Guerrier se munit d'un bouclier pour une durée de 4 secondes lui permettant de survivre aux 30 prochains dommages qui lui seront infligés.
                                        .clearfix
                                            .column.menu
                                                p Cri de guerre
                                                img(src="/img/skills_icons_for_help_screen/warrior3.png").help-skills
                                            .column.content
                                                br
                                                br
                                                p Le Guerrier entre dans une folie meurtrière et double ses dégâts de base.
                                        .clearfix
                                            .column.menu
                                                p Sprint
                                                img(src="/img/skills_icons_for_help_screen/warrior4.png").help-skills
                                            .column.content
                                                br
                                                br
                                                p Le Guerrier augmente de 20% sa vitesse de déplacement.
                        .panel-group
                            .panel.panel-default
                                .panel-heading.panel-heading-archer
                                    h4.panel-title
                                        a(data-toggle="collapse" href="#archer_panel") Archer
                                #archer_panel.panel-collapse.collapse
                                    .panel-body
                                        p L'Archer est ... . Ses 4 compétences sont :
                                            .clearfix
                                                .column.menu
                                                    p Flèche perçante
                                                    img(src="/img/skills_icons_for_help_screen/archer1.png").help-skills
                                                .column.content
                                                    br
                                                    br
                                                    p L'archer tire une flèche perçante influgeant 70 points de dégats à son ennemi.
                                            .clearfix
                                                .column.menu
                                                    p Flèche paralysante
                                                    img(src="/img/skills_icons_for_help_screen/archer2.png").help-skills
                                                .column.content
                                                    br
                                                    br
                                                    p L'archer tire une flèche paralysant son ennemi pour une durée de 3s.
                                            .clearfix
                                                .column.menu
                                                    p Flèche empoisonnée
                                                    img(src="/img/skills_icons_for_help_screen/archer3.png").help-skills
                                                .column.content
                                                    br
                                                    br
                                                    p L'archer tire une flèche empoisonnée infligeant 10 points de dégâts par seconde à son ennemi pour une durée de 4s.
                                            .clearfix
                                                .column.menu
                                                    p Potion de vie
                                                    img(src="/img/skills_icons_for_help_screen/archer4.png").help-skills
                                                .column.content
                                                    br
                                                    br
                                                    p L'archer boit une potion magique lui permettant de récupérer 45 point de vie.
                        .panel-group
                            .panel.panel-default
                                .panel-heading.panel-heading-wizard
                                    h4.panel-title
                                        a(data-toggle="collapse" href="#wizard_panel") Sorcier
                                #wizard_panel.panel-collapse.collapse
                                    .panel-body
                                        p Le Sorcier possède des pouvoirs magiques divers. Une classe idéale pour les plus stratégiques . Ses 4 compétences sont :
                                            .clearfix
                                                .column.menu
                                                    p Cauchemar
                                                    img(src="/img/skills_icons_for_help_screen/wizard1.png").help-skills
                                                .column.content
                                                    br
                                                    br
                                                    p Le Sorcier frappe de terreur son ennemi lui infligeant 70 points de dégâts.
                                            .clearfix
                                                .column.menu
                                                    p Prison runique
                                                    img(src="/img/skills_icons_for_help_screen/wizard2.png").help-skills
                                                .column.content
                                                    br
                                                    br
                                                    p Le Sorcier emprisonne son ennemi dans une cage runique, l'immobilisant pour une durée de 3s et lui infligeant 15 points de dégâts par seconde.
                                            .clearfix
                                                .column.menu
                                                    p Regénération d'énergie
                                                    img(src="/img/skills_icons_for_help_screen/wizard4.png").help-skills
                                                .column.content
                                                    br
                                                    br
                                                    p Le Sorcier regénère l'énergie de sa cible de 60 points.
                                            .clearfix
                                                .column.menu
                                                    p Résurrection
                                                    img(src="/img/skills_icons_for_help_screen/wizard3.png").help-skills
                                                .column.content
                                                    br
                                                    br
                                                    p Le Sorcier fait appel aux Dieux afin de redonner vie à un allié.
                    .modal-footer
                        button(type="button" data-dismiss="modal").btn.btn-default  Retour au jeu
        .introduction_screen
            .banner
                img(src='/img/ui/tares_logo.png')
            br
            .introduction_content
                .story
                    p Depuis des siècles, une guerre interminable déchire la terre de Tares où jadis régnait en paix un puissant peuple. A la mort de son empereur divin, le bienveillant Mursat, un terrible sort s’est abattu sur Tares, conjurant les races peuplant les terres à entrer en guerre.
                    p Au sein de la bataille, dix races s’affrontent sans répit pour capturer le trident d’or dont les légendes racontent que le peuple qui parviendra à activer son pouvoir dominera les autres peuples pour l’éternité. Cependant, peu se souviennent que le grand Mursat veille encore sur ses terres…
                .buttons
                    button(type="button").btn.btn-success Jouer !
            .authors
                p Tous droits réservés - 2017 | Théophile Dancoisne, Alexis Dupont, Natan Danous
            .credits Réalisé avec :
                a(href='https://www.phaser.io')
                    img(src='/img/ui/phaser_logo.png')
                a(href='https://nodejs.org/en/')
                    img(src='/img/ui/nodejs_logo.png')
                a(href='http://www.mapeditor.org')
                    img(src='/img/ui/tiled_logo.png')

        .starting_screen
            .banner
                .banner_img
                    img(src='/img/ui/tares_logo.png')
                .screen_title
                    h1 Paramètres de la partie
                    button.help-btn(data-toggle="modal" data-target="#helpModal") Besoin d'aide ?
            br
            .starting_content
                table.table
                    tr
                        th Nom de joueur
                        th Équipe
                        th Classe
                        th Genre
                        th Prêt ?
                    - for (var i = 0; i < 9; ++i) {
                    tr
                        td 
                            input(name="alias")
                            img(src='/img/edit_alias.png' name="edit_alias" 
                                title="Vous pouvez éditer le nom du joueur")
                        td
                            select(disabled, name="race")
                                option Human
                                option Light
                                option Orc
                                option Metal
                        td
                            select(disabled, name="class")
                                option Archer
                                option Warrior
                                option Wizard
                        td
                            select(disabled, name="sex")
                                option Homme
                                option Femme
                        td
                            select(disabled, name="status")
                                option Prêt
                                option(selected) Pas prêt
                    -}

        .game_screen
            .player.info_box
                h2 Joueur
                .player_name
                table.info_table
                    tr
                        td 
                            img(src='/img/player_info/icon_attack_dmg.png' title='Dégâts d\'attaque')
                            .player_autoAttackDamage
                        td 
                            img(src='/img/player_info/icon_attack_speed.png' title='Vitesse d\'attaque')
                            .player_autoAttackSpeed
                        td 
                            img(src='/img/player_info/icon_speed.png' title='Vitesse de déplacement')
                            .player_speed
                        td 
                            img(src='/img/player_info/icon_shield.png' title='Armure')
                            .player_shield               
                .player_life_bar.progress
                    .player_life.progress-bar.life
                .player_energy_bar.progress
                    .player_energy.progress-bar.energy

            .allies.info_box
                h2 Allies
                - for (var i = 0; i < 10; ++i) {
                .ally_info
                    .ally_name
                    .progress
                        .progress-bar.life
                -}

            .target.info_box
                h2 Cible&nbsp;
                    span.glyphicon.glyphicon-screenshot
                .target_name
                .target_life_bar.progress
                    .target_life.progress-bar.life

            .skills
                .skill_info
                    .skill_name
                    .skill_desc
                    .skill_details
                .skill_bar.btn-group
                    - for (var i = 0; i < 9; ++i) {
                    button(type="button").btn.btn-primary
                        .skill_cooldown_bar.progress
                            .skill_cooldown.progress-bar.cooldown
                    -}
            .scores.info_box
                table.table
                    caption Scores
                    tr
                        th Team
                        th Points
                    - for (var i = 0; i < 9; ++i) {
                    tr
                        td Team i
                        td 0
                    -}

            // Phaser shall be loaded here:
            #game

        .ending_screen
            .ending_content
                .banner
                    img(src='/img/ui/tares_logo.png')
                h1 End of the Game
                table.table.table-condensed
                    caption Results
                    tr
                        th Team
                        th Players
                        th Score
                    - for (var i = 0; i < 9; ++i) {
                    tr
                        td Team i
                        td
                            ul
                                - for (var j = 0; j < 9; ++j) {
                                li Player i j
                                -}
                        td 0
                    -}

        script(src="/js/main.js")
