@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, body {
    margin: 0;
    height: 100%;
    font-family: "Ubuntu", sans-serif;
}

.modal-body p {
    text-align: justify;
}

.background_image {
    position: fixed;
    z-index: -1;
    background-image: url("../img/ui/background.png");
    width: 100%;
    height: 100%;
}

.introduction_screen, .starting_screen, .ending_screen {
    height: 100%;
    padding: 20px 10%;
}

.introduction_screen .introduction_content,
.starting_screen .starting_content,
.ending_screen .ending_content {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 7.5px;
    padding: 30px;
    max-height: 90%;
    overflow: auto;
    margin-bottom: 20px;
}

.authors {
    font-size: 11pt;
    text-align: center;
    color: #eeeeee;
}

.introduction_screen .story {
    text-align: justify;
    font-size: 13pt;
    overflow: auto;
}

.introduction_screen .buttons {
    padding-right: 35px;
    text-align: right;
}

.introduction_screen .buttons button {
    font-size: 20pt !important;
}

.introduction_screen .banner {
    text-align: center;
}

.introduction_screen .banner img {
    max-width: 80%;
    max-height: 200px;
}

.credits {
    font-size: 11pt;
    text-align: center;
    color: #eeeeee;
}

.credits img {
    width: 100px;
}

/* Css responsive to solve menu display on smaller screens */

/* Style for window less than 750px */
.starting_screen .banner {
    margin-bottom: 20px;
    text-align: center;
}

.starting_screen .banner .banner_img {
    width: 100%;
    text-align: center;
}

.starting_screen .banner .screen_title {
    color: #eeeeee;
    text-align: center;
}

@media only screen and (min-width: 750px) { /* We apply media query to larger windows */
    .starting_screen .banner {
        position: relative;
        margin-top: 100px;;
    }

    .starting_screen .banner .banner_img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: left;
    }

    .starting_screen .banner .screen_title {
        position: absolute;
        right: 0;
        bottom: 0;
        color: #eeeeee;
        text-align: right;
    }
}

.help-btn {
    background: none;
    border: none;
    font-size: 13pt;
    padding: 7px;
}

.help-btn:focus {
    outline: none;
}

.help-btn:hover {
    background-color: #58a1ef;
    border-radius: 5px;
}

input[name="alias"], img[name="edit_alias"] {
    display: inline-block;
    margin-right: 5px;
}

input[name="alias"] {
    background-color: transparent;
    border: none;
}

img[name="edit_alias"] {
    visibility: hidden;
}

.modal-header-custom {
    background: rgb(80,143,224); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(80,143,224,1) 0%, rgba(128,237,133,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(80,143,224,1) 0%,rgba(128,237,133,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(80,143,224,1) 0%,rgba(128,237,133,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#508fe0', endColorstr='#80ed85',GradientType=1 ); /* IE6-9 */
    border-radius: 5px 5px 0px 0px;
    color: white;
}

.help-skills {
    display: block;
    margin: auto;
    width: 90%;
    border-radius: 5px;
}

.panel-default > .panel-heading-warrior{
    background: #cd3a3f;
    color: white;
}

.panel-default > .panel-heading-archer{
    background: #209673;
    color: white;
}

.panel-default > .panel-heading-wizard{
    background: #3a8dab;
    color: white;
}

.column {
    float: left;
    padding: 15px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.menu {
    width: 15%;

}
.menu p {
    text-align: center;
}

.content {
    width: 70%;
}

.ending_screen .banner {
    text-align: left;
}
.starting_screen .banner img, .ending_screen .banner img {
    max-width: 50%;
    max-height: 100px;
}

.starting_screen table caption, .ending_screen table caption {
    font-size: 25px;
}

.life {
    background-color: #f44336 !important;
}

.energy {
    background-color: #3643f4 !important;
}

.cooldown {
    background-color: #f4770f !important;
}

.info_box {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    color: ghostwhite;
    padding: 5px;
}

.info_table{
    width: 100%;
    text-align: center;
}

.info_table img {
    max-width: 32px;
}

.info_table img, .info_table div {
    display: inline-block;
}

.skills {
    position: absolute;
    right: 1%;
    bottom: 2%;
    max-width: 457px; /* FIXME : Mandatory to avoid overflows */
}

.skills .skill_info {
    background-color: rgba(255, 255, 255, 0.3);
    color: ghostwhite;
    padding: 5px;
    width: auto;
    display: block;
}

.skill_name {
    font-weight: bold;
}

.skill_desc {
    text-align: justify;
}

.skill_info table {
    width: 100%;
}

.skills button {
    min-width: 115px;
    min-height: 115px;
    background-size: cover;
    margin: 0;
}

.skill_cooldown_bar {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 3%;
    margin: 0;
    border-radius: 0px;
}

.target {
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.player {
    left: 1%;
    bottom: 4%;
    width: 25%;
}

.scores {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

.allies {
    top: 5%;
    right: 1%;
    width: 15%;
    min-width: 130px;
    padding-bottom: 100px;
}